:root {
    --PrimaryColor: hsl(199, 100%, 33%); 
    --SecondaryColor: hsl(187, 85%, 43%); 
    --ThirdColor: hsl(189, 73%, 93%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%)); 
    --whiteColor: hsl(0,0%,100%); 
    --blackColor: hsl(201, 33%, 16%); 
    --textColor: hsl(240, 4%, 36%); 
    --whiteColorDeam: hsl(0, 0%, 93%); 
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246); 
    --cardBG: rgb(225, 225, 225);
}

.laptopSalonServices{
    margin-top: 40px; 
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 100em; 
    width: 100%; 
    border-bottom: 0.6px solid var(--greyText);


    .title{
        font-size: 2rem;
    }
    
    .servicesContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        .categories{
            flex:1; 
            display: flex;
            flex-direction: column;
            gap: 15px;

            .category{
                max-width: 24rem;
                display: flex;
                align-items: flex-start;
                background-color: white;
                padding: 15px; 
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.3s;
                margin-bottom: 10px;
                font-size: 1rem;
                border-bottom: 10px solid var(white);


            }
            .category:hover{
                background-color: var(--inputColor);
            }

            .category.active {
                background-color: var(--ThirdColor); 
                border-right: 7px solid var(--SecondaryColor);
            }

        
        }
        .serviceList{
            flex:2 ; 

            .servicesGrid{
                display: flex; 
                flex-direction: column;
                margin-bottom: 60px;
                gap: 10px;

                .serviceItem{
                    display: flex;
                    flex-direction: column;
                    max-width: 60em;
                    background-color: white;
                    color: var(--SecondaryColor);
                    border: 1px solid var(--greyText); 
                    padding: 15px; 
                    border-radius: 8px;
                    transition: background-color 0.3s;
                    cursor: pointer;
                    font-size: 1rem;
                    


                   .serviceTitle{
                        .duration{
                            font-weight: 500;
                        }
                   }

                    .price{
                        display: flex;
                        justify-content: start;
                        color: black;
                        font-weight: 700;
                        
                        .discounted{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            .new{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: var(--ThirdColor);
                                color: red;
                                border-radius: 15px;
                                width: 3rem;
                                height: 2.3rem
                            }
                            
                            .orignal{
                                text-decoration: line-through;
                            }
                        }

                        .normal{
                            display: flex;
                            align-items: center;
                            background-color: var(--ThirdColor);
                            padding: 5px;
                            border-radius: 15px;
                            padding-left: 10px;
                            padding-right: 10px;
                           
                        }
                        
                    
                    }

                    .descriptionContent{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        position: relative;
                        margin-top:10px;
                        color: var(--greyText);


                         .description{
                            display: -webkit-box;
                            line-clamp: 2; /* Giới hạn hiển thị 2 dòng */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;

                         }

                         .fullDescription {
                            display: block; /* show full content */
                          }
                    }
        
                }

                .serviceItem:hover {
                    background-color: var(--inputColor) ;
                }
            }
        }
    }
    
    
}


@media (max-width: 768px) {
    .laptopSalonServices {
        display: none;
    }
}